@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-badge: var(--badge-color);
  --color-button: var(--button);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-jost-sans);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2077 0.0412 282.21);
  --muted: oklch(1 0 0);
  --primary: oklch(0.7044 0.1791 133);
  --badge-color: oklab(0.94 0 0);
  --button: oklch(0.2077 0.0412 282.21);
  --secondary: oklch(31.317% 0.00004 271.152);
}
.dark {
  --background: oklch(0.2077 0.0412 282.21);
  --secondary: oklch(77.311% 0.00009 271.152);
  --foreground: oklch(1 0 0);
  --muted: oklch(1 0 0);
  --primary: oklch(0.7044 0.1791 133);
  --badge-color: oklch(0.7044 0.1791 133);
  --button: oklch(63.909% 0.1666 133.103);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}
